.footer-container{
    width: 100%;
    background-color: #232F3E;
    color: #fff;
    margin-top: 10px;
}


#back-to-top-btn{
    width: 100%;
    height: 35px;
    text-align: center;
    background-color: #37475a;
    color: #fff;
    border: none;
    outline: none;
}

#back-to-top-btn:hover{
    /* opacity: 0.9; */
    background-color: #4c617a;

}


.footer-content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.copyright-container{
    width: 100%;
    text-align: center;
    font-size: small;
    padding: 10px;
}